.navbar {
	text-align: center;
	border: 1px solid gray;
	background-color:#33CCFF;
}


.navbar li {
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	border: 1px solid black;
	padding: 8px;
	background-color: #C0C0C0;
	margin-right: 30px;
}
.navbar li:hover {
	.subnav {
		opacity: 1.0;
	}
	background-color: #ffffcc;
}
a {
	text-decoration: none;
}
.subnav {
	position: absolute;
	margin-top: 10px;
	margin-left: -35px;
	opacity: 0.0;
}
.subnav:hover{
	opacity:1.0;
}
.subnav li {
	display: block;
	background-color: white;
	font-size: 17px;
	border: none;
	position: relative;
}
.subnav li:hover {
	background-color:white;
}
.subnav li a:hover{
	color:#cc3300;
}